/* Resetting default browser styles */
body {
    margin: 0;
    padding: 0;
}

/* Main container */
.main {
    position: relative;
    /* Make the container position relative */
}

/* Banner image */
.main img {
    width: 100%;
    /* Ensure the image spans the full width */
    display: block;
    /* Ensure the image is a block element */
    margin-bottom: 15px;
    /* Add some space between the image and the navbar */
}

/* Navbar styles */
.navbar {
    background-color: transparent;
    /* Make the navbar transparent */
    position: absolute;
    /* Position the navbar absolute within the main container */
    width: 100%;
    /* Ensure the navbar spans the full width */
    top: 0;
    /* Align the navbar to the top of the main container */
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.navbar-brand {
    font-size: 3.5rem;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    margin: 0 50px;
    color: #054d19;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #054d19;
    font-size: large;
}

.nav-links li a:hover {
    color: #bfe80a;
}


/* section */

section {
    max-width: 1200px;
    max-height: 678px;
    display: flex;
    margin-left: 140px;
    margin-top: 50px;
    border: 2px solid #f3df04;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
   
    /* Ensure relative positioning for absolute positioning within */
}



.left img {
    width: 550px;
    height: 623px;
    /* Adjust the width of the image as needed */
}

.right .first h3 {
    color: #054d19;
    font-size: large;
}

.right .first h1 {
    color: #C1A358;
    font-size: xx-large;

}

.right .first {
    width: 505px;
    /* Adjust the width of the right side as needed */
    height: 78;

   


}

.right .second {
    width: 443;
    height: 270;
    line-height: 2;
}

.right>div {
    padding: 30px;
    /* Add some space between the text and button */
    margin-left: 40px;
    display: flexbox;
    justify-content: space-between;
}


.button-third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.on-button {
    width: 220px;
    height: 51px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #C1A358;
    background: white;
    color: #C1A358;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: .8s;
    align-self: flex-end;
    text-align: center;
    
}

.on-button span:first-child {
    width: 0;
    height: 100%;
    border-bottom-right-radius: 180px;
    background-color: #C1A358;
    position: absolute;
    bottom: 0;
    left: -25%;
    transition: 0.8s;
}

.on-button span:last-child {
    z-index: 2;
    transition: 0.8s;
    position: absolute;
}

.on-button:hover span:last-child {
    color: #000;
}

.on-button:hover span:first-child {
    width: 125%;
    left: 0;
}



.second-section {
    width: 100%;
    height: 100%;
    background: #494747;
    color: aliceblue;
    padding: 40px;
   
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

.first-part {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space between items */
    max-width: 1200px; /* Limit width to the width of the image */
    margin-bottom: 20px;
}

.luxurious-villa {
    flex: 0 0 auto; /* Don't allow growth or shrinking */
    width: 500px; /* Occupy half of the available width minus padding */
    padding-right: 70px; /* Adjust padding as needed */
}

.luxurious-villa h1 {
    color: #C1A358;
    font-size: 35px;
    margin: 0;
}

.villa-details {
    flex: 0 0 auto; /* Don't allow growth or shrinking */
    width: 500px; /* Occupy half of the available width minus padding */
    padding-left: 200px; /* Adjust padding as needed */
}

.villa-image img {
    width: 100%;
    height: auto;
}

.villa-summary {
    /* margin-top: 30px; */
    text-align: center;
}


/* VISIT US */

  .visitUs {
    flex: 1;
    padding: 140px;
    color: #fff;
    border-right: 1px solid #ac8d3f;
}

.visitUs span {
    color: #ac8d3f;
}

.visitUs p {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 300;
}

.visitUs > div {
    display: flex;
    gap: 4rem;
    margin-bottom: 80px;
}

.visitUs > div span {
    font-size: 16px;
}

.visitUs > h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.visitUs > h2 span {
    font-size: 48px;
    font-weight: 400;
}

.visitUs > p {
    margin-bottom: 30px;
}

.visitUs > p span {
    font-size: 16px;
}

.third-page{
    display: flex;
    background-color: #000;
    
}


/* CONTACT US */

.contactForm {
    flex: 1;
    padding: 140px;
}

.contactForm input,
.contactForm textarea {
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid #c1a35850;
    font-family: inherit;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
    color: #bababa;
    font-weight: 400;
    font-size: 16px;
}

.contactForm h2 {
    font-size: 20px;
    font-weight: 300;
    color: #C1A358;
}

.contactForm h2 span {
    font-size: 48px;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .input-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form input {
    flex: 1;
}

.form button {
    margin-top: 2rem;
    background-color: transparent;
    padding: 1.5rem 6rem;
    border: 1px solid #c1a358;
    color: #c1a358;
    font-family: inherit;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    align-self: flex-end;
}

.form button span:first-child {
    width: 0;
    height: 100%;
    border-bottom-right-radius: 180px;
    background-color: #c1a358;
    position: absolute;
    bottom: 0;
    left: -25%;
    transition: 0.8s;
}

.form button span:last-child {
    z-index: 2;
    transition: 0.8s;
    position: absolute;
    left: 35%;
    bottom: 30%;
}

.form button:hover span:last-child {
    color: #000;
}

.form button:hover span:first-child {
    width: 125%;
    left: 0;
}
  
.footer {
    background: #195B42;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.footer-left h1 {
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.footer-column a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-column a:hover {
    color: #C1A358;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.footer-info img {
    margin-right: 10px;
}

.footer-info p {
    font-size: 14px;
    margin: 0;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
}


